<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: '1VMYZTA833',
    apiKey: '4648e7343c9f125f3bc82da805ef5f2e',
    siteId: '1d21aebe-baf2-467f-9a59-6c7aae718cc6',
    branch: 'gh-pages',
    selector: 'div#search',
    theme: {
      mark: '#fff',
      background: '#323A40',
      selected: '#111D13',
      text: '#d6d6e7',
      colorSourceIcon: '#d6d6e7'
    },
  });
</script>
