<div id="footer-sep"></div>
<footer id="footer">
    <div id="footer-content">
        <div id="badges">
            <a id="badge1" href="https://512kb.club"><img style="width:200px;" src="https://512kb.club/assets/images/orange-team.svg" /></a>
            <em id="badge2">👻 Proud member of <a href="https://darktheme.club/">darktheme.club</a> 👻</em>
        </div>
        <div id="copyright">
            <em>Copyright © {{ "now" | date: "%Y" }} Yusef Aslam.</em>
            <em>All Rights Reserved</em>
        </div>
    </div>
</footer>
