// For screens with a width not exceeding 800 pixels,
@media only screen and (max-width: 800px)
  body
    font-size: 24px

body
  font-family: "EB Garamond"
  font-size: 140%
  background-color: #212529
  color: #ced4da
  line-height: 1.2
  hyphens: auto
  -ms-hyphens: auto
  -webkit-hyphens: auto
  margin: 0
  overflow-x: hidden

main
  text-align: justify
  max-width: 1000px
  margin: 20px auto
  padding: 0
  word-break: break-word

#page-container
  position: relative
  padding-left: 0.4em
  padding-right: 0.4em
  min-height: 100vh

#content-wrap
  padding-bottom: 4rem
  margin-left: 4px

// For screens with a width not exceeding 800 pixels,
@media screen and (max-width: 800px)
  main
    margin: 0
    margin-left: .6rem
    margin-right: .6rem

.post
  padding: 0 3rem

.post h1
  border-bottom: 1px solid grey

// For screens with a width not exceeding 800 pixels,
@media screen and (max-width: 800px)
  .post
    padding: 0
    h1
      font-size: 135%
    h2
      font-size: 90%

.comments-container
  margin-top: 50px
  .utterances
    margin-left: 0
    margin-right: 0
    max-width: 100%

#footer-sep
  padding-bottom: 10rem

#footer
  width: 100%
  text-align: center
  border-top: 2px dotted #4A4F55
  color: #8D959D
  background-color: #2F3338

#footer em
  display: block

.highlight
  // background-color: #222
  // color: white
  padding: 2px
  margin: 0
  border-radius: 8px
  font-size: 100%
  overflow: scroll

.highlight-div
  border: 1px solid #555
  border-radius: 8px

// .highlight pre.highlight
//   border: 1px solid #888

// For screens with a width not exceeding 800 pixels,
@media screen and (max-width: 800px)
  .highlight
    font-size: 95%
    padding: 0
    border-radius: 8px

.rouge-gutter.gl
  border-right: 2px solid #777
  opacity: 45%
  -webkit-user-select: none /* Safari */
  -ms-user-select: none /* IE 10 and IE 11 */
  user-select: none /* Standard syntax */
  .lineno
    margin-right: 5px


p>code
  font-size: 100%
  background-color: #151515
  border: 1px solid #555
  padding: 3px
  border-radius: 4px
  color: #d0d0d0

ul>li>code
  font-size: 100%
  background-color: #151515
  border: 1px solid #555
  padding: 3px
  border-radius: 4px
  color: #d0d0d0

#page-container > main > div.post > div.alert > div > code
  font-size: 100%
  background-color: #151515
  padding: 3px
  border-radius: 4px
  color: #d0d0d0

@media screen and (max-width: 800px)
  #post-container > main > div.post > div.alert > div > code
    font-size: .9rem

#nav-break
  border: 1px solid #444
  padding: 0
  margin-top: 0.6rem
  width: 100%

.nav
  max-width: 1000px
  /* margin: 20px auto
  margin-left: 4px
  margin-right: 4px
  margin-top: 6px
  padding: 0
  padding-top: 4px
  #nav-container
    /* padding: 0 1rem
    margin: 0
    position: relative
    max-width: 800px

  #nav-container > .current
    color: #212529
    background-color: #ced4da
    text-decoration: none
    padding: 4px
    font-weight: bold

  #nav-container > .noncurrent
    text-decoration: none
    padding: 4px
    font-weight: bold
    /* color: white

  #nav-container > .noncurrent:hover
    text-decoration: underline

#blog-entries-heading
  // border-bottom: 1px solid grey
  margin-right: 4px

#blog-post-list
  margin-left: 20px
  margin-right: 20px
  .blog-post
    margin-bottom: 10px
    max-width: 500px
    .blog-post-data
      margin: 0
      padding: 0

#blog-post-list > .blog-post > .blog-post-data > a
  &:active, &:hover
    background-color: #A1CCA5
    color: #212529
  text-decoration: none
  font-weight: bold

.taglist > li > a
  &:active, &:hover
    background-color: #A1CCA5
    color: #212529
  text-decoration: none
  font-weight: bold

// Add styling for links in double-nested lists
ul > li > ul > li > a
  &:active, &:hover
    background-color: #A1CCA5
    color: #212529
  text-decoration: underline
  // font-weight: bold

.post > ul > li > a
  &:active, &:hover
    background-color: #A1CCA5
    color: #212529
  text-decoration: underline
  // font-weight: bold

a
  color: #ADB5Bd
  font-weight: bold

.post > p>a:hover
  background-color: #A1CCA5
  color: #212529

#post-data-sep
  max-width: 1000px
  padding: 0
  font-size: 1.4rem
  margin: auto
  margin-bottom: 25px
  width: fit-content
  padding-left: 0.4em
  padding-right: 0.4em

@media screen and (max-width: 800px)
  #post-data-sep
    margin-left: 4px

#post-info-sep, #post-tags-sep
  display: inline-block

#post-data-break
  padding: 2px
#post-info-sep > #post-info
  border: 1px solid #999
  /* color: white
  font-style: italic
  max-width: max-content

p#post-info
  margin: 0
  padding-left: 2px
  padding-right: 5px
  padding-bottom: 2px

#post-tags-sep > #post-tags
  // margin-top: 24px
  // margin-left: 8px
  color: #8D959D

.post-excerpt
  font-size: 70%
  font-style: italic
  /* color: white
  margin-top: 0px
  background-color: #222
  max-width: 500px
  border: 1px solid #444
  padding: 5px
  a:hover
    background-color: #A1CCA5
    color: #212529

blockquote
  border-left: 4px solid #8D959D
  margin: 1.5em 10px
  padding: 0.5em 10px
  font-style: italic
  font-size: 105%
  color: #8D959D

blockquote p
  display: inline

/* jekyll-toc
.section-nav
  margin: 5px 0
  padding: 10px 30px
  border: 1px solid #575D63
  border-radius: 3px
  filter: drop-shadow(1px 1px 3px #575D63)

@media screen and (max-width: 800px)
  .section-nav
    font-size: 1rem

img
  width: 100%
  margin: 4px auto
  overflow: scroll

#search
  width: 400px
  float: right
  margin-left: 10px
  margin-right: 10px
  margin-bottom: 30px

@media screen and (max-width: 800px)
  #search
    width: 100%
    margin-left: 0
    margin-right: 0
