body
  font-family: "Noto Sans Mono"
  font-size: 120%
  background-color: black
  color: white
  margin: 20px auto
  max-width: 1200px
  padding: 0

.highlight
  // background-color: #222
  // color: white
  padding: 2px
  margin: 0
  border: #999
  border-radius: 8px
  font-size: 100%
  overflow: scroll

.rouge-gutter.gl
  border-right: 2px solid #586e75
  opacity: 45%
  -webkit-user-select: none /* Safari */
  -ms-user-select: none /* IE 10 and IE 11 */
  user-select: none /* Standard syntax */
  .lineno
    margin-right: 5px

p>code
  font-size: 120%
  background-color: #151515
  padding: 3px
  border-radius: 4px
  color: #d0d0d0

.current
  color: black
  background-color: white
  text-decoration: none
  padding: 4px
  font-weight: bold

.noncurrent
  text-decoration: none
  padding: 4px
  color: white

.noncurrent:hover
  text-decoration: underline

ul > li > a
  &:active, &:hover
    background-color: navy
  text-decoration: none
  color: white

a
  color: aqua

.postinfo
  border: 1px solid #999
  padding: 2px
  color: white
  font-style: italic
  max-width: max-content

.postdesc
  font-size: 70%
  font-style: italic
  color: white
  margin-top: 0px
  background-color: #222
  max-width: 500px
  border: 1px solid #444
  padding: 5px

blockquote
  border-left: 4px solid #555
  margin: 1.5em 10px
  padding: 0.5em 10px
  font-style: italic
  color: #D1D1D1

blockquote p
  display: inline
