body
  font-family: "EB Garamond"
  font-size: 140%
  background-color: #212529
  color: #ced4da
  margin: 20px auto
  max-width: 1200px
  padding: 0
  line-height: 1.2

.highlight
  // background-color: #222
  // color: white
  padding: 2px
  margin: 0
  border: #999
  border-radius: 8px
  font-size: 100%
  overflow: scroll

.rouge-gutter.gl
  border-right: 2px solid #586e75
  opacity: 45%
  -webkit-user-select: none /* Safari */
  -ms-user-select: none /* IE 10 and IE 11 */
  user-select: none /* Standard syntax */
  .lineno
    margin-right: 5px

p>code
  font-size: 100%
  background-color: #151515
  padding: 3px
  border-radius: 4px
  color: #d0d0d0

ul>li>code
  font-size: 100%
  background-color: #151515
  padding: 3px
  border-radius: 4px
  color: #d0d0d0

.nav
  box-shadow: 0 24px 1px -13px rgb(180 180 180 / 40%)
  #nav-container > .current
    color: #212529
    background-color: #ced4da
    text-decoration: none
    padding: 4px
    font-weight: bold

  #nav-container > .noncurrent
    text-decoration: none
    padding: 4px
    font-weight: bold
    /* color: white

  #nav-container > .noncurrent:hover
    text-decoration: underline

.sitenav > li > a
  &:active, &:hover
    background-color: #A1CCA5
    color: #212529
  text-decoration: none
  font-weight: bold

.taglist > li > a
  &:active, &:hover
    background-color: #A1CCA5
    color: #212529
  text-decoration: none
  font-weight: bold

// Add styling for links in double-nested lists
ul > li > ul > li > a
  &:active, &:hover
    background-color: #A1CCA5
    color: #212529
  text-decoration: underline
  // font-weight: bold

ul > li > a
  &:active, &:hover
    background-color: #A1CCA5
    color: #212529
  text-decoration: underline
  // font-weight: bold

a
  color: #ADB5Bd
  text-style: bold

p>a:hover
  background-color: #A1CCA5
  color: #212529

#post-data
  display: flex
  width: max-content
  .post-info
    border: 1px solid #999
    padding: 2px
    /* color: white
    font-style: italic
    max-width: max-content
  .post-tags
    margin-top: 24px
    margin-left: 8px
    color: #8D959D

.postdesc
  font-size: 70%
  font-style: italic
  /* color: white
  margin-top: 0px
  background-color: #222
  max-width: 500px
  border: 1px solid #444
  padding: 5px

blockquote
  border-left: 4px solid #8D959D
  margin: 1.5em 10px
  padding: 0.5em 10px
  font-style: italic
  font-size: 105%
  color: #8D959D

blockquote p
  display: inline
