<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="/assets/css/syntax.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
    <script>
        // Add anchors on DOMContentLoaded
        document.addEventListener('DOMContentLoaded', function(event) {
          anchors.add('h1');
        });
    </script>
  </head>
  <body>
    {% include navigation.html %}
    <div id="post-data-sep">
        <div id="post-info-sep">
            <p class="post-info">{{ page.author }} - {{ page.date | date_to_string }}</p>
        </div>
    </div>
    {{ content | replace: '<a', '<a target="_blank"' | toc }}
  </body>
</html>
